body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 225, 122);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box a {
    color: black;
    font-size: 2rem;
    background-color:  rgb(120, 168, 41);
    border-radius: 1rem;
    padding: 10px 10px 20px;
    border-color: 2rem black;
    text-decoration: none;
}